@model WebMvc.Models.CatalogItem




<form asp-controller="Cart" asp-action="AddToCart">
    <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
    <input class="esh-catalog-button" type="submit" value="[ ADD TO CART ]" />
    <div class="esh-catalog-name">
        <span>@Model.EventName</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <input type="hidden" asp-for="@Model.CatalogCategory" name="category" />
    <input type="hidden" asp-for="@Model.CatalogCategoryId" name="categoryId" />
    <input type="hidden" asp-for="@Model.CatalogLocation" name="location" />
    <input type="hidden" asp-for="@Model.CatalogLocationId" name="locationId" />
    <input type="hidden" asp-for="@Model.Description" name="description" />
    <input type="hidden" asp-for="@Model.EventId" name="id" />
    <input type="hidden" asp-for="@Model.EventName" name="name" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>